@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --scrollbar-size: 12px;
  --bakcground: #051c31;
}

*,
*::before,
*::after {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  @apply overflow-x-hidden;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @apply overflow-x-hidden bg-[#051c31];
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
::-webkit-scrollbar-track {
  background: var(--bakcground);
}
::-webkit-scrollbar-thumb {
  border-radius: 16px;
  @apply bg-gray-600/80;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
